In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [5]:
movies = movies.merge(credits, on='title')

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:
#genres
#id
#keywords
#title
#overview
#cast
#crew

movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [8]:
movies.head(1)

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [9]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [10]:
movies.dropna(inplace=True)

In [11]:
movies.duplicated().sum()

0

In [12]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [13]:
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'
#['Action','Adventure','Fantasy','SciFi']

In [14]:
#list of string into num
import ast
ast.literal_eval( '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [15]:
## conversion and change list of string into number

def conversion(object):
    L = []
    for i in ast.literal_eval(object):
        L.append(i['name'])
    return L

In [16]:
movies['genres'] = movies['genres'].apply(conversion)

In [17]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [18]:
movies['keywords'] = movies['keywords'].apply(conversion)

In [19]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [20]:
#we need only three cast

def conversion3(object):
    L = []
    counter = 0
    for i in ast.literal_eval(object):
        if counter != 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [21]:
movies['cast'] = movies['cast'].apply(conversion3)

In [22]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [23]:
#only job in crew
def director(object):
    L = []
    for i in ast.literal_eval(object):
        if i['job'] == 'Director':
            L.append(i['name'])
            break       
    return L

In [24]:
movies['crew'] = movies['crew'].apply(director)

In [25]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [28]:
#changing string of overview in list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [29]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [30]:
# removing space between words
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [31]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [32]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [33]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[SamMendes],"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [34]:
movies_df = movies[['movie_id','title','tags']]

In [35]:
movies_df

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bondâ€™s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [36]:
movies_df['tags'] = movies_df['tags'].apply(lambda x:" ".join(x))

C:\Users\Shivam Tripathi\AppData\Local\Temp\ipykernel_16736\1818354165.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x:" ".join(x))

In [37]:
movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [38]:
movies_df['tags'] = movies_df['tags'].apply(lambda x:x.lower())

C:\Users\Shivam Tripathi\AppData\Local\Temp\ipykernel_16736\377315923.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(lambda x:x.lower())

In [39]:
movies_df.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bondâ€™s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [52]:
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\programdata\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk) (0.4.6)

In [53]:
import nltk

In [54]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [58]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [59]:
movies_df['tags'] = movies_df['tags'].apply(stem)

C:\Users\Shivam Tripathi\AppData\Local\Temp\ipykernel_16736\2881018542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df['tags'] = movies_df['tags'].apply(stem)

In [64]:
ps.stem('dancing')

'danc'

In [17]:
movies.shape()

AttributeError: 'tuple' object has no attribute 'shape'

vectorization for similarity

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [60]:
vectors = cv.fit_transform(movies_df['tags']).toarray()

In [61]:
len(cv.get_feature_names_out())

5000

In [62]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

In [65]:
from sklearn.metrics.pairwise import cosine_similarity

In [68]:
similarity = cosine_similarity(vectors)

In [69]:
similarity[0]

array([1.        , 0.08346223, 0.0860309 , ..., 0.04499213, 0.        ,
       0.        ])

In [72]:
sorted(similarity[1],reverse = True)

[1.0,
 0.4140043409440133,
 0.27500954910846337,
 0.2533201985524494,
 0.20579830217101058,
 0.20579830217101058,
 0.18981415059132414,
 0.18499891602515212,
 0.17589669862367344,
 0.17503501050350123,
 0.17149858514250882,
 0.17149858514250882,
 0.17149858514250882,
 0.16647802295407294,
 0.16637806616154058,
 0.16502459049611234,
 0.16502459049611234,
 0.16477051091432687,
 0.16269784336399212,
 0.1618740515220081,
 0.1592324388246205,
 0.1592324388246205,
 0.1569197342897824,
 0.1562904982411873,
 0.15512630699850574,
 0.15339299776947407,
 0.15339299776947407,
 0.15339299776947407,
 0.15171652122725207,
 0.15158476564770806,
 0.15009383798227796,
 0.14969623771302393,
 0.14705882352941174,
 0.14705882352941174,
 0.14699878726500756,
 0.14699878726500756,
 0.1462544848254261,
 0.1449427589131121,
 0.1449427589131121,
 0.1430397079704303,
 0.14134285422946366,
 0.14097096860865022,
 0.14097096860865022,
 0.140028008402801,
 0.140028008402801,
 0.1373087590952724,
 0.1355815361366601,
 0.1345345587992625,
 0.13391789600139503,
 0.1332593209305539,
 0.1332593209305539,
 0.13284223283101426,
 0.13231403100624078,
 0.1320196723968899,
 0.1320196723968899,
 0.1320196723968899,
 0.13174886252731766,
 0.12964074471043285,
 0.12964074471043285,
 0.12964074471043283,
 0.12964074471043283,
 0.1292719224987548,
 0.1292719224987548,
 0.1292719224987548,
 0.12862393885688161,
 0.12862393885688161,
 0.12862393885688161,
 0.12862393885688161,
 0.1278274981412284,
 0.1278274981412284,
 0.12738595105969638,
 0.12738595105969638,
 0.12738595105969638,
 0.1264304343560434,
 0.1264304343560434,
 0.1264304343560434,
 0.12524485821702988,
 0.12507819831856498,
 0.12507819831856498,
 0.12478354962115543,
 0.12478354962115543,
 0.12478354962115543,
 0.12376844287208429,
 0.12320822072673948,
 0.12320822072673948,
 0.12320822072673948,
 0.12320822072673948,
 0.12126781251816647,
 0.12126781251816647,
 0.12126781251816646,
 0.12126781251816646,
 0.12126781251816646,
 0.12065379433217113,
 0.12043434688555504,
 0.12007302660701852,
 0.11961783342433499,
 0.11961783342433499,
 0.11941628680530642,
 0.11891287353862351,
 0.11891287353862351,
 0.11803342130469503,
 0.11803342130469503,
 0.11778571185788639,
 0.11778571185788637,
 0.11771773894935468,
 0.11764705882352938,
 0.11764705882352938,
 0.11764705882352938,
 0.11764705882352938,
 0.11764705882352938,
 0.11764705882352938,
 0.11726446574911562,
 0.11669000700233415,
 0.11669000700233413,
 0.11595420713048968,
 0.11595420713048966,
 0.11595420713048966,
 0.11595420713048966,
 0.11595420713048966,
 0.11595420713048966,
 0.11577058990186095,
 0.11562432251572008,
 0.11504474832710555,
 0.11504474832710555,
 0.11504474832710555,
 0.11504474832710555,
 0.11504474832710555,
 0.11504474832710555,
 0.11498609690941279,
 0.11458731212852641,
 0.1145873121285264,
 0.11433239009500587,
 0.11433239009500587,
 0.11363310286178552,
 0.11357771260606365,
 0.11357771260606365,
 0.11357771260606365,
 0.11357771260606365,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11277677488692017,
 0.11227217828476795,
 0.11163607017227663,
 0.11128297681493143,
 0.1107018606925119,
 0.11051407114136771,
 0.10984700727621793,
 0.10984700727621793,
 0.10984700727621793,
 0.10984700727621793,
 0.1097907187727647,
 0.1097907187727647,
 0.1097907187727647,
 0.10969086361906959,
 0.10969086361906959,
 0.10969086361906957,
 0.10969086361906957,
 0.10969086361906957,
 0.10969086361906957,
 0.10890171046725802,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.10846522890932808,
 0.1080339539253607,
 0.1078676197944929,
 0.10727978097782273,
 0.10727978097782273,
 0.10727978097782273,
 0.10727978097782273,
 0.10718661571406801,
 0.10713431680111603,
 0.10713431680111603,
 0.10585122480499262,
 0.10585122480499262,
 0.10585122480499262,
 0.10585122480499262,
 0.10585122480499262,
 0.10555008273018725,
 0.10502100630210075,
 0.10502100630210075,
 0.10502100630210075,
 0.10502100630210075,
 0.10502100630210075,
 0.10461315619318828,
 0.10461315619318828,
 0.10398629135096286,
 0.10341753799900383,
 0.10341753799900383,
 0.10341753799900383,
 0.10341753799900383,
 0.10341753799900383,
 0.10323001737691673,
 0.10289915108550529,
 0.10289915108550529,
 0.10289915108550529,
 0.10289915108550529,
 0.10289915108550529,
 0.10289915108550529,
 0.10226199851298272,
 0.10226199851298272,
 0.10226199851298272,
 0.10226199851298272,
 0.10176568762666317,
 0.10138954626279946,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10114434748483471,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944687,
 0.10090091909944686,
 0.10036195573796253,
 0.10036195573796253,
 0.10006255865485197,
 0.10006255865485197,
 0.10006255865485197,
 0.10006255865485197,
 0.09968152785361249,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766743,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09901475429766741,
 0.09867967802605515,
 0.0983611844205792,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09799919151000504,
 0.09772038812426302,
 0.09737260471306503,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09723055853282464,
 0.09709195467257715,
 0.09701425001453318,
 0.09701425001453318,
 0.09673824874398684,
 0.09647549158488412,
 0.09647549158488411,
 0.09605842128561481,
 0.09605842128561481,
 0.09605842128561481,
 0.09605842128561481,
 0.09605842128561481,
 0.09605842128561481,
 0.0958706236059213,
 0.0955394632947723,
 0.0955394632947723,
 0.09553946329477228,
 0.09553946329477228,
 0.09553946329477228,
 0.09553946329477228,
 0.09553946329477228,
 0.09553946329477228,
 0.09553946329477228,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09513029883089881,
 0.09469425238482124,
 0.0942285694863091,
 0.0942285694863091,
 0.0942285694863091,
 0.0942285694863091,
 0.09412207643723192,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.0939336436627724,
 0.09356014857063996,
 0.09335200560186731,
 0.09335200560186731,
 0.09335200560186731,
 0.09335200560186731,
 0.09335200560186731,
 0.09335200560186731,
 0.09335200560186731,
 0.09249945801257606,
 0.09249945801257606,
 0.09249945801257606,
 0.09249945801257606,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09240616554505461,
 0.09193289141911525,
 0.09166984970282112,
 0.09166984970282112,
 0.09166984970282112,
 0.09166984970282112,
 0.09166984970282112,
 0.09166984970282112,
 0.0914090530158913,
 0.09095085938862485,
 0.09095085938862485,
 0.09095085938862485,
 0.09095085938862485,
 0.09086217008485092,
 0.09086217008485092,
 0.09086217008485092,
 0.09086217008485092,
 0.09007546982220897,
 0.09007546982220897,
 0.09007546982220897,
 0.09007546982220897,
 0.09007546982220897,
 0.09007546982220897,
 0.09007546982220897,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08956221510397981,
 0.08939981748151894,
 0.0893088561378213,
 0.0893088561378213,
 0.0893088561378213,
 0.0893088561378213,
 0.0893088561378213,
 0.0893088561378213,
 0.08891787425369732,
 0.08889132764189396,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08856148855400951,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08823529411764704,
 0.08783257501821176,
 0.08783257501821176,
 0.08751750525175062,
 0.08712136837380642,
 0.08712136837380642,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08696565534786725,
 0.08665671776277227,
 0.08642716314028856,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.08574929257125441,
 0.0850871259623034,
 0.0850871259623034,
 0.0850871259623034,
 0.0850871259623034,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.08458258116519013,
 0.0844400661841498,
 0.0844400661841498,
 0.0844400661841498,
 0.08380754741901122,
 0.08380754741901122,
 0.08380754741901122,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08346223261119858,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08318903308077029,
 0.08258401390153339,
 0.08258401390153339,
 0.08258401390153339,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08238525545716345,
 0.08213292636386628,
 0.08199200616907877,
 0.08199200616907876,
 0.08141255010133054,
 0.08141255010133054,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08134892168199606,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08084520834544433,
 0.08035073760083702,
 0.08035073760083702,
 0.08035073760083702,
 0.08035073760083702,
 0.08035073760083702,
 0.08035073760083702,
 0.08035073760083702,
 0.08028956459037002,
 0.08028956459037002,
 0.08028956459037002,
 0.07996162762590017,
 0.07974522228289,
 0.07974522228289,
 0.07974522228289,
 0.07962575371800423,
 0.07961621941231024,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07938841860374446,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07868894753646336,
 0.07860624762130128,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07845986714489121,
 0.07817631049941041,
 0.07817631049941041,
 0.07817631049941041,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07756315349925287,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07669649888473704,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07585826061362604,
 0.07529766114978553,
 0.07529766114978553,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07504691899113898,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07484811885651196,
 0.07440653318043244,
 0.07440653318043244,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07426106572325057,
 0.07397267214553091,
 0.07397267214553091,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07349939363250378,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07312724241271305,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07276068751089988,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07204381596421111,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07151985398521515,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07134772412317411,
 0.07075491376772249,
 0.07075491376772249,
 0.07067142711473183,
 0.07067142711473183,
 0.07067142711473183,
 0.07067142711473183,
 0.07067142711473183,
 0.07067142711473183,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.0700140042014005,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.07001400420140048,
 0.06937459350943204,
 0.06937459350943204,
 0.06937459350943204,
 0.06937459350943204,
 0.06937459350943204,
 0.06875238727711584,
 0.06875238727711584,
 0.06875238727711584,
 0.06875238727711584,
 0.06875238727711584,
 0.0686543795476362,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06859943405700353,
 0.06825898811407623,
 0.06814662756363819,
 0.06814662756363819,
 0.06814662756363819,
 0.06814662756363819,
 0.06814662756363819,
 0.06814662756363819,
 0.06792356108113244,
 0.06759303084186631,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06755660236665673,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06726727939963124,
 0.06698164210336598,
 0.06698164210336598,
 0.06698164210336598,
 0.06698164210336598,
 0.06698164210336598,
 0.06698164210336598,
 0.06698164210336598,
 0.06642111641550713,
 0.06642111641550713,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06600983619844494,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365883,
 0.06587443126365881,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06534102628035482,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06482037235521643,
 0.06431196942844081,
 0.06431196942844081,

In [75]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:5]

[(1216, 0.28676966733820225),
 (2409, 0.26901379342448517),
 (3730, 0.2605130246476754),
 (507, 0.255608593705383)]

Recommendation

In [79]:
def recommend(movie):
    movie_index = movies_df[movies_df['title'] == movie].index[0]
    distances =similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:5]
    
    for i in movies_list:
        print(movies_df.iloc[i[0]].title)
    return

In [80]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises

In [81]:
recommend('The Avengers')

Iron Man 3
Avengers: Age of Ultron
Captain America: Civil War
Captain America: The First Avenger

In [82]:
import pickle

In [83]:
pickle.dump(movies_df.to_dict(),open('movie_dict.pkl','wb'))

In [84]:
movies_df['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [85]:
pickle.dump(similarity,open('similarity.pkl','wb'))